


	<h2>Insert Module here</h2>
	<a scrollTo href="#emergencyContact">Biographic Data</a>
	<span> || </span>
	<a scrollTo href="#emergencyContact">Emergency Contact</a>

	<!--<button pButton scrollTo scrollTargetSelector="#emergencyContact" type="button" label="Emergency Contact"></button>
	<button pButton scrollTo scrollTargetSelector="#infoObtained" type="button" label="Info Obtained"></button>
-->
	<br>


<!--	<p-selectButton [options]="types" [(ngModel)]="selectedType" (ngModelChange)="selectOption($event)"></p-selectButton>-->

	<br>


