<div class="contentMenu">
	<h2>{{ contentModule }}</h2>


	<span *ngFor="let item of contentMenu">
		<a scrollTo href="{{ item.shortcut }} ">{{item.section}}</a>
		<span>||</span>
	</span>
</div>

<!--
	<button pButton scrollTo scrollTargetSelector="#emergencyContact" type="button" label="Emergency Contact"></button>
	<button pButton scrollTo scrollTargetSelector="#infoObtained" type="button" label="Info Obtained"></button>
-->
<!--	<p-selectButton [options]="types" [(ngModel)]="selectedType" (ngModelChange)="selectOption($event)"></p-selectButton>-->




