<div class="ui-g">
	<div class="ui-g-12">
		<div class="card">
			<h1>Empty Page</h1>
			<p>Use this page to start from scratch and place your custom content.</p>
		</div>
	</div>
</div>


<!--<div class="patient-bar">
	<div class="ui-g">
		<div class="ui-g-2">Wong Ah Ying</div>
		&lt;!&ndash;<div class="ui-g-12 ui-md-6 ui-lg-12">||</div>&ndash;&gt;
		<div class="ui-g-2">S1234567A</div>
		<div class="ui-g-2">65</div>
		<div class="ui-g-2">173cm</div>
		<div class="ui-g-2">65kg</div>
		<div class="ui-g-2">Blood O</div>
	</div>
</div>-->

<div class="city">
	<!--<div class="ui-g">
		<div class="ui-g-2">Name</div>
		&lt;!&ndash;<div class="ui-g-12 ui-md-6 ui-lg-12">||</div>&ndash;&gt;
		<div class="ui-g-2">NRIC</div>
		<div class="ui-g-2">Age</div>
		<div class="ui-g-2">Height</div>
		<div class="ui-g-2">Weight</div>
		<div class="ui-g-2">Blood Group</div>
	</div>
	<div class="ui-g">
		<div class="ui-g-2">Wong Ah Ying</div>
		&lt;!&ndash;<div class="ui-g-12 ui-md-6 ui-lg-12">||</div>&ndash;&gt;
		<div class="ui-g-2">S1234567A</div>
		<div class="ui-g-2">65</div>
		<div class="ui-g-2">173cm</div>
		<div class="ui-g-2">65kg</div>
		<div class="ui-g-2">O</div>
	</div>-->

	Name: Wong Ah Ying | NRIC: S1234567F | Age: 65 | Blood Group: O | Female
</div>

<br>
<br>

<!--<div class="ui-g">
	<div class="ui-g-4">
		<div class="card">
			Wong Ah Ying
		</div>
	</div>
	<div class="ui-g-4">
		<div class="card">
			S1234567A
		</div>
	</div>
	<div class="ui-g-4">
		<div class="card">
			65
		</div>
	</div>
</div>-->
